<div style="height: 500px; display:flex  ; flex-direction: row;" >
    <div style="display:flex  ; flex:content; "></div>
        <div style="display:flex  ; flex:4; flex-direction: column;">
            <div style="flex: 7;display:flex"></div>
                <div style="flex: content;display:flex;">
                    <div style="flex: content; margin:10px;"><a class="btn btn-primary" href="http://localhost:8080/listCliente">Clientes</a></div>
                    <div style="flex: content; margin:10px;"><a class="btn btn-primary" href="http://localhost:8080/listProduto">Prdutos</a></div>
                    <div style="flex: content; margin:10px;"><a class="btn btn-primary" href="">Vendas</a></div>
                    <div style="flex: content; margin:10px;"><a class="btn btn-primary" href="">Pedidos</a></div>
                </div>
            <div style="flex: 7;:peru"></div>
        </div>
    <div style="display:flex  ; flex:content; "></div>
</div>

