
<div style="display: flex; width: 100%; margin-left: 2%" >
    {{#each produtos}}
        <div class="card" style="width: 30rem;">
            <img src="/{{img}}" class="card-img-top" alt="..." style="height: 350px; width: 480px;">
            <div class="card-body">
                <h5 class="card-title">{{produto}}</h5>
                <a href="{{request.url}}" class="btn btn-info">Configurar</a>
                
            </div>
        </div>
    {{/each}}
</div>


<div style="display: flex; width: 30rem; margin-left: 31%; margin-top:10%;"   class="form-row" >
    <div style="margin: 5%;">
        <a href="http://localhost:8080/cadastro"class="btn btn-success btn-lg btn-block">Adicionar Novo Produto</a>
    </div>
    <div style="margin: 5%;">
        <a href="http://localhost:8080/dashboard"class="btn btn-primary" >Voltar</a>
    </div>
</div>
